@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;

  }

/* Container Div */
nav{
position: absolute;
display: flex;
z-index: 6;
padding: 3rem 10rem;
justify-content: space-between;
font-size: 1.2rem;
width: 100%;

}

.button{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    border-radius: 10%;
    padding: 5px;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, -5px 4px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, -5px 4px 15px 5px rgba(0,0,0,0);
    text-decoration: none;
}


.container {

min-height: 100vh;
background-color: black;
width: 100%;
background-size: cover;
}

.container .bg1, .me {

    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
   z-index: 1; 

}
.container .meTach, .me4Tach{
    height: 0;
    width: 0;
}

.container .main-title{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 7rem;
    transform: translate(-50px, -250px);
    z-index: 3;
    font-family: 'Rancho', cursive;
}
/* End Container Div */

/* Content Div */

.content{
    width: 100%;
    background-color: black;
    min-height: 100vh;
    z-index: 7;
    position: absolute;

}
.content-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 60vh;
    font-size: .6rem;    
}
.content-images .mnt{
    margin: 5%;

}

.content-images img{
    margin-top: 40px;
    width: 100%;
    margin-top: 10px;
    object-fit: cover;
    object-position: center center;
    border: 2px solid #fff;
    border-radius: 2%;
    box-shadow: 3px 2px 2px #fff;
} 

.text {
    padding: 2rem 10rem;
    font-size: 1rem;
}

/* End Content Div */

@media only screen and (max-width: 950px){
    
    .container .meTach, .me4Tach{
        width: 100%;
        position: absolute;
        height: 110vh;
        object-fit: cover;
        z-index: 1;
    }
    .container  .me4Tach{
        z-index: 2;
    }
    .container .main-title {
        font-size: 5rem;
        transform: translateY(-200%);
    }

    nav h4 {
        margin-right: 50px;
        margin-left: 0;
        padding-left: 0;
    }

    .content-images{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .text{
        font-size: .8rem;
        padding: 1rem 5rem;
    }

} 